.heading{
    text-align: center;
}
.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
input{
    margin: 4px;
    padding: 10px;
    width: 200px;
}
button{
    background-color:#E2BEBE;
    margin: 4px;
    padding: 10px;
    width: 200px;
    color: white;
    border: none;
}
.players{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.players {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players > div {
  background-color: #e4bcbc;
  width: 80%;
  max-width: 600px;
  padding: 1rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.players p {
  flex: 1;
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
